@import "tailwindcss";

@theme {
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);

  --color-secondary-50: var(--color-teal-50);
  --color-secondary-100: var(--color-teal-100);
  --color-secondary-200: var(--color-teal-200);
  --color-secondary-300: var(--color-teal-300);
  --color-secondary-400: var(--color-teal-400);
  --color-secondary-500: var(--color-teal-500);
  --color-secondary-600: var(--color-teal-600);
  --color-secondary-700: var(--color-teal-700);
  --color-secondary-800: var(--color-teal-800);
  --color-secondary-900: var(--color-teal-900);
  --color-secondary-950: var(--color-teal-950);

  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-950: var(--color-gray-950);

  --color-youtubemusic: #FF0000;
  --color-spotify: #1ED760;
  --color-applemusic: #FC3C44;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .grid-cols-auto-fill-180 {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
