<div class="<%= classes %>">
  <% items.each do |item| %>
    <%= render Brands::GridItemComponent.new(
      register_path: register_path,
      id: item[:id],
      brand_id: brand_id(item),
      query: query,
      thumbnail_url: item[:thumbnail_url],
      title: item[:title],
      year: item[:year],
      artists: item[:artists],
    ) %>
  <% end %>
</div>
