<div class="flex flex-col">
  <%= render Grid::ItemComponent.new(
    classes: classes,
    thumbnail: thumbnail_url,
    header: title,
    description: description,
  ) %>
  <%= render Brands::RegisterButtonComponent.new(
    url: register_path,
    id: id,
    brand_id: brand_id,
    classes: "flex justify-end mt-auto",
  ) %>
</div>
