<ul class="<%= classes %>">
  <% menus.each do |menu| %>
    <li>
      <%= link_to menu[:href],
        class: menu_classes(menu[:is_active]) do
      %>
        <%= menu[:label] %>
      <% end %>
    </li>
  <% end %>
</ul>
