<div class="flex flex-col gap-3">
  <%= render Input::Component.new(
    type: type,
    id: "with-icon-button-input",
    placeholder: placeholder,
    required: false,
    disabled: false,
    value: nil,
  ) do |c| %>
    <% c.with_icon(icon_class: Icon::MagnifyingGlass) %>
    <% c.with_button(label: button_label) %>
  <% end %>
  <%= render Input::Component.new(
    type: type,
    id: "required-with-icon-button-input",
    placeholder: placeholder,
    required: true,
    disabled: false,
    value: nil,
  ) do |c| %>
    <% c.with_icon(icon_class: Icon::MagnifyingGlass) %>
    <% c.with_button(label: button_label) %>
  <% end %>
  <%= render Input::Component.new(
    type: type,
    id: "disabled-with-icon-button-input",
    placeholder: placeholder,
    required: false,
    disabled: true,
    value: nil,
  ) do |c| %>
    <% c.with_icon(icon_class: Icon::MagnifyingGlass) %>
    <% c.with_button(label: button_label) %>
  <% end %>
</div>
