<div class="<%= classes %>">
  <%= render Albums::GridItemComponent.new(
    thumbnail_url: album[:thumbnail_url],
    title: album[:title],
    release_date: album[:release_date],
    artists: album[:artists],
  ) %>
  <%= content %>
  <%= render Albums::Link::ShareComponent.new(
    base_url: Albums::BASE_URL,
    album_id: album[:id],
    label: "共有",
    classes: "mt-2",
  ) %>
</div>
