<div class="<%= classes %>">
  <%= render Albums::GridItemComponent.new(
    thumbnail_url: album[:thumbnail_url],
    title: album[:title],
    release_date: album[:release_date],
    artists: album[:artists],
  ) %>
  <%= content %>
  <%= render Albums::Link::ShareComponent.new(
    album_id: album[:id],
    label: t("common.share"),
    classes: "mt-2",
  ) %>
</div>
