<div class="<%= classes %>">
  <%= render Albums::GridItemComponent.new(
    thumbnail_url: album[:thumbnail_url],
    title: album[:title],
    release_date: album[:release_date],
    artists: album[:artists],
  ) %>
  <%= content %>
</div>
