<div class="<%= classes %>">
  <% items.each do |item| %>
    <%= link_to href_select(item),
      data: data do
    %>
      <div class="flex flex-col justify-between h-full">
        <%= render Albums::GridItemComponent.new(
          thumbnail_url: item[:thumbnail_url],
          title: item[:title],
          release_date: item[:release_date],
          artists: item[:artists],
        ) %>
        <div class="flex justify-end items-center mt-2">
          <% if item[:spotify_id].present? %>
            <i class="me-2 fab fa-spotify fa-lg text-spotify"></i>
          <% end %>
          <% if item[:youtube_music_id].present? %>
            <i class="me-2 fab fa-youtube fa-lg text-youtubemusic"></i>
          <% end %>
          <% if item[:apple_music_id].present? %>
            <i class="me-2 fab fa-apple fa-lg text-applemusic"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
