<div class="<%= classes %>">
  <% items.each do |item| %>
    <%= render Albums::CardComponent.new(
      thumbnail_url: item[:thumbnail_url],
      title: item[:title],
      year: item[:year],
      artist: item[:artist],
    ) %>
  <% end %>
</div>
