<div class="flex">
  <%= render Albums::ContentComponent.new(
    album: @album,
    classes: "w-80 me-6",
  ) do %>
    <%= render Albums::Link::PlayerComponent.new(
      base_url: Albums::BASE_URL,
      album_id: @album[:id],
      ) %>
  <% end %>
  <div class="grow">
    <%= render Albums::TracksComponent.new(
      @album[:tracks],
    ) %>
  </div>
</div>
