<div class="flex max-w-5xl mx-auto">
  <%= render Albums::ContentComponent.new(
    album: @album,
    classes: "w-80 me-10",
  ) do %>
    <%= render Albums::Link::PlayerComponent.new(
      album_id: @album[:id],
      label: t("albums.show.open_player"),
    ) %>
  <% end %>
  <div class="grow">
    <%= render Albums::TracksComponent.new(
      @album[:tracks],
    ) %>
  </div>
</div>
