<%= form_with url: url, method: :get, data: data, class: classes do |_| %>
  <label class="<%= label_classes %>">
    <input type="checkbox"
      value=""
      class="sr-only peer"
      onChange="this.form.submit()"
      <%= checked? ? "checked" : nil %>
    >
    <div class="<%= toggle_switch_classes %>"></div>
  </label>
<% end %>
