<div class="max-w-2xl px-4 py-10 mx-auto">
  <%= render Card::Component.new(
    classes: "px-8 pb-10 mx-auto",
  ) do |component| %>
    <% component.with_header do %>
      <%= render Users::Sessions::HeaderComponent.new %>
    <% end %>
    <% component.with_description do %>
      <% render Users::Sessions::FormComponent.new(
        url: url,
        classes: "mt-8",
      ) %>
    <% end %>
  <% end %>
</div>

