<div class="<%= classes %>">
  <%= render Grid::ThumbnailComponent.new(
    src: album[:thumbnail_url],
    shape: Grid::THUMBNAIL_ROUNDED,
  ) %>
  <%= render Albums::Form::InputFieldComponent.new(
    album: album,
    classes: form_classes,
  ) %>
</div>
