<%= form_with class: classes,
  method: :put,
  url: url do
%>
    <% sections.each do |items| %>
      <div class="flex flex-col gap-2 mb-5">
        <% items.each do |item| %>
          <% if item.label.present? %>
            <%= render InputField::LabelComponent.new(
              label_for: item.id,
              classes: "block",
            ) do %>
              <%= item.label %>
            <% end %>
          <% end %>
          <% if item.id.present? %>
            <%= render Input::Component.new(
              type: item.type,
              id: item.id,
              name: item.name,
              placeholder: item.placeholder,
              required: item.required,
              value: item.value,
              classes: "block w-full",
            ) do |component| %>
              <% component.with_icon(icon_class: item.icon_class) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <hr class="mb-3">
    <% end %>
<% end %>
