<%= render SearchInput::Component.new(
  id: "youtube_id",
  label: "Go",
  placeholder: "Input YouTube Playlist ID...",
  url: "search",
  method: "get",
  data: { turbo_frame: "playlists" },
  classes: "max-w-3xl mx-auto mb-5",
) %>
<div class="max-w-3xl mx-auto">
  <%= turbo_frame_tag "playlists" do %>
    <% @playlists.each do |playlist| %>
      <%= render Youtube::Card::PlaylistComponent.new(
        id: playlist[:youtube_id],
        title: playlist[:title],
        classes: "max-w-3xl mb-5",
      )%>
    <% end %>
  <% end %>
</div>
