<div class="max-w-3xl">
  <%= render Playlists::HeaderComponent.new(
    title: @playlist[:title],
    active_brand: @playlist[:brand],
    classes: "mb-6",
  ) %>
  <%= render Playlists::TracksComponent.new(
    @playlist[:tracks],
  ) %>
</div>
