<%= render Card::Component.new(
  classes: classes,
) do |component| %>
  <% component.with_thumbnail do %>
    <div class="p-5">
      ID: <%= id %>
    </div>
    <%= render Youtube::PlaylistIframeComponent.new(id: id) %>
  <% end %>
  <% component.with_header do %>
    <%= title %>
  <% end %>
  <% component.with_description do %>

  <% end %>
<% end %>
