<div>
  <div class="flex flex-col gap-3 mb-4">
    <%= render StreamingTracks::SearchForm::BrandTabs.new(
      brand: brand,
    ) %>

    <%= render StreamingTracks::Album::SearchFormComponent.new(
      base_url: "/streaming_tracks/register",
      brand: brand,
      query: query,
      data: data,
    ) %>
    <%= render StreamingTracks::Artist::SearchFormComponent.new(
      base_url: "/streaming_tracks/register",
      brand: brand,
      query: query,
      data: data,
    ) %>
  </div>
</div>
