<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="bg-neutral-100 text-gray-900 dark:bg-neutral-900 dark:text-gray-50">
    <main class="max-w-4xl mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
